---
const items = ["./tech-stack/firebase.jpg"];
---

<div class="firebaseComponen">
	{
		items.map((item) => (
			<img
				loading="lazy"
				class="firebaseComponen"
				src={item}
				alt="logo firebase "
			/>
		))
	}
</div>

<style>
	.firebaseComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.firebaseComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.firebaseComponen {
		height: 200px;
		width: auto;
	}
</style>
