---
const items = ["./tech-stack/git.jpg"];
---

<div class="gitComponen">
	{
		items.map((item) => (
			<img loading="lazy" class="gitComponen" src={item} alt="logo git " />
		))
	}
</div>

<style>
	.gitComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.gitComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.gitComponen {
		height: 200px;
		width: auto;
	}
</style>
