---
const items = ["./tech-stack/java.jpg"];
---

<div class="javaDetail">
	{
		items.map((item) => (
			<img loading="lazy" class="javaDetail" src={item} alt="java detail " />
		))
	}
</div>

<style>
	.javaDetail {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.javaDetail {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
</style>
