---
const items = ["./tech-stack/java.jpg"];
---

<div class="javaComponen">
	{
		items.map((item) => (
			<img loading="lazy" class="javaComponen" src={item} alt="logo java " />
		))
	}
</div>

<style>
	.javaComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.javaComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.javaComponen {
		height: 200px;
		width: auto;
	}
</style>
