---
const items = ["./tech-stack/apache-kafka.jpg"];
---

<div class="kafkaComponen">
	{
		items.map((item) => (
			<img
				loading="lazy"
				class="kafkaComponen"
				src={item}
				alt="logo apache kafka"
			/>
		))
	}
</div>

<style>
	.kafkaComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.kafkaComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.kafkaComponen {
		height: 50px;
		width: auto;
	}
</style>
