---
const items = ["./tech-stack/postgresql.jpg"];
---

<div class="PostgreSQLDetail">
	{
		items.map((item) => (
			<img
				loading="lazy"
				class="PostgreSQLDetail"
				src={item}
				alt="postgre detail "
			/>
		))
	}
</div>

<style>
	.PostgreSQLDetail {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.PostgreSQLDetail {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
</style>
