---
const items = ["./tech-stack/postman-logo.jpg"];
---

<div class="postmanComponen">
	{
		items.map((item) => (
			<img
				loading="lazy"
				class="postmanComponen"
				src={item}
				alt="logo postman "
			/>
		))
	}
</div>

<style>
	.postmanComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.postmanComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.postmanComponen {
		height: 200px;
		width: auto;
	}
</style>
