---
const items = ["./tech-stack/redis_logo.jpg"];
---

<div class="redisComponen">
	{
		items.map((item) => (
			<img loading="lazy" class="redisComponen" src={item} alt="logo Redis " />
		))
	}
</div>

<style>
	.redisComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.redisComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.redisComponen {
		width: auto;
		height: 200px;
	}
</style>
