---
const items = ["./tech-stack/restapi.jpg"];
---

<div class="restapiComponen">
	{
		items.map((item) => (
			<img
				loading="lazy"
				class="restapiComponen"
				src={item}
				alt="logo restApi "
			/>
		))
	}
</div>

<style>
	.restapiComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.restapiComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.restapiComponen {
		height: 50px;
		width: auto;
	}
</style>
