---
const items = ["./tech-stack/springboot.jpg"];
---

<div class="springBootDetail">
	{
		items.map((item) => (
			<img
				loading="lazy"
				class="springBootDetail"
				src={item}
				alt="spring detail "
			/>
		))
	}
</div>

<style>
	.springBootDetail {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.springBootDetail {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
</style>
