---
const items = ["./tech-stack/swagger.jpg"];
---

<div class="swaggerComponen">
	{
		items.map((item) => (
			<img
				loading="lazy"
				class="swaggerComponen"
				src={item}
				alt="logo swagger "
			/>
		))
	}
</div>

<style>
	.swaggerComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.swaggerComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.swaggerComponen {
		height: 200px;
		width: auto;
	}
</style>
