---
const items = ["./tech-stack/zk.jpg"];
---

<div class="zkComponen">
	{
		items.map((item) => (
			<img loading="lazy" class="zkComponen" src={item} alt="logo zk " />
		))
	}
</div>

<style>
	.zkComponen {
		display: flex;
		justify-content: center;
		gap: 12px;
		cursor: auto;
	}
	@media (max-width: 768px) {
		.zkComponen {
			display: flex;
			width: 55%;
			justify-content: left;
			flex-direction: row;
			gap: 12px;
		}
	}
	.zkComponen {
		height: 200px;
		width: auto;
	}
</style>
