---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import JavaComponen from "../components/tech-stack/javaComponen.astro";
---

<Layout title="Java ">
	<div class="max-w-screen-md m-auto p-4 my-4 antialiased">
		<h1
			class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"
		>
			Java <br /><span class="text-gradient">Short Explaination </span>
		</h1>

		<JavaComponen />
		<br />
		<p class="text-white">
			Bahasa multi-platform, berorientasi objek, dan berpusat pada jaringan yang
			dapat digunakan sebagai platform tersendiri
		</p>

		<p class="mb-6 text-gray-300 md:text-lg">
			<a
				href="https://www.java.com/en/"
				target="_blank"
				class="underline inline">Officialy Java Website</a
			>
		</p>

		<BackButton />
	</div>
	<style></style>
</Layout>
