---
import { Image } from "astro:assets";
import myFurniture from "../assets/fun-project/logo-myFurniture.jpg";
---

<div>
	<Image
		class="project-image border border-black"
		src={myFurniture}
		alt="screen shot of python scripts running in the terminal"
		densities={[1, 2, 3]}
	/>
</div>

<style>
	.project-image {
		width: 100%;
		height: auto;
	}
</style>
