---
import { Image } from "astro:assets";
import baseProject from "../../assets/fun-project/java.jpg";
---

<div class="flex justify-center mt-10">
	<Image
		class="project-image border border-black"
		src={baseProject}
		alt="screen shot of python scripts running in the terminal"
		densities={[1, 2, 3]}
	/>
</div>

<style>
	.project-image {
		width: auto;
		height: auto;
	}
</style>
