---
import { Image } from "astro:assets";
import myFurniture from "../../assets/fun-project/logo-myFurniture.jpg";
---

<div class="flex justify-center mt-5">
	<Image
		class="project-image border border-black"
		src={myFurniture}
		alt="screen shot of python scripts running in the terminal"
		densities={[1, 2, 3]}
	/>
</div>

<style>
	.project-image {
		width: 70%;
		height: 70%;
	}
</style>
